<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="    https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css
    "
    />
    <title>BowlSafe | Logout</title>
  </head>
  <body>
    <% if (messages.error) { %> <%= messages.error %> <% } %>
    <h1 class="mx-3">Hi, <%= message %></h1>
    <a href="/login" class="btn btn-outline-info m-3" role="button">Login</a>
  </body>
</html>
