<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Speed</title>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <!-- <script src="/public/assets/speed-data.js"></script> -->
  </head>

  <body class="bg-light">
    <nav class="navbar navbar-light bg-primary">
      <div class="container">
        <a class="navbar-brand" href="#"
          ><h2><strong>Bowling</strong></h2></a
        >
      </div>
    </nav>

    <div class="container">
      <h1 class="pt-3">Shreeja</h1>
    </div>

    <div class="container pt-3">
      <div class="row r">
        <div class="col-lg-4 d-flex flex-column justify-content-center">
          <h3 class="pb-2">LRS&RRS vs LMB</h3>
          <canvas id="foo"></canvas>
        </div>

        <div class="col-lg-4 d-flex flex-column justify-content-center">
          <h3>Hyperextension</h3>
          <canvas id="foo1"></canvas>
        </div>

        <div class="col-lg-4 d-flex flex-column justify-content-center">
          <h3>Posteriorly Rotated</h3>
          <canvas id="foo2"></canvas>
        </div>
      </div>
    </div>

    <script src="/public/assets/gauge.min.js"></script>
    <script src="/public/assets/speed.js"></script>
  </body>
</html>
